@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

*:after,
*:before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
  width: 100%;
  min-height: 100vh;
  color: #e1e1e1;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .validKeys {
  font-size: 4rem;
  font-weight: bold;
  overflow-x: hidden;
}

.container .validKeys .matched{
  background-color: #fdf8c5;
  color: #282c34;
}

.container .validKeys .remainder{
  opacity: 0.5;
}

.container .typedKeys {
  margin-top: 20px;
  font-size: 1.3rem;
  width: 70vw;
  overflow: hidden;
  border: none;
  color: #e1e1e1;
  opacity: 0.7;
  border-bottom: 2px solid #fff;
  background-color: #1e1e1e;
  ;
}

@media only screen and (min-width: 768px) {
  .container .typedKeys {   
    width: 20vw;
  }
}

input[type=text]:focus {  
  outline:none;  
}

.container .completedWords{
  width: max-content;
  height: 40vh;
  overflow-y: visible;
  padding: 20px 40px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  opacity: 0.5;
}

.container .results {
  display: flex;
  flex-direction: row;
  align-content: space-between;  
}